<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="automation.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test Elements">
		<classes>
			<class name="automation.ElementsTest" />
		</classes>
	</test>
	<test name="Test Forms">
		<classes>
			<class name="automation.FormsTest" />
		</classes>
	</test>
	<test name="Test alerts, Frames and windows">
		<classes>
			<class name="automation.AlertFrameAndWindowTest"></class>
		</classes>
	</test>
	<!--Test -->
</suite> <!--
Suite -->
